apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "trakx.fullname" . }}-config
  labels:
    {{- include "trakx.labels" . | nindent 4 }}
data:
  APP_NAME: {{ .Values.app.name | quote }}
  APP_ENV: {{ .Values.app.env | quote }}
  APP_DEBUG: {{ .Values.app.debug | quote }}
  APP_URL: {{ .Values.app.url | quote }}
  APP_LOCALE: "en"
  APP_FALLBACK_LOCALE: "en"
  APP_MAINTENANCE_DRIVER: "file"
  BCRYPT_ROUNDS: {{ .Values.laravel.bcryptRounds | quote }}
  LOG_CHANNEL: {{ .Values.laravel.logChannel | quote }}
  LOG_STACK: "single"
  LOG_LEVEL: {{ .Values.laravel.logLevel | quote }}
  DB_CONNECTION: "pgsql"
  DB_HOST: {{ include "trakx.postgresql.host" . | quote }}
  DB_PORT: "5432"
  DB_DATABASE: {{ .Values.postgresql.auth.database | quote }}
  SESSION_DRIVER: {{ .Values.laravel.sessionDriver | quote }}
  SESSION_LIFETIME: {{ .Values.laravel.sessionLifetime | quote }}
  SESSION_ENCRYPT: "false"
  SESSION_PATH: "/"
  BROADCAST_CONNECTION: "reverb"
  FILESYSTEM_DISK: {{ .Values.laravel.filesystemDisk | quote }}
  QUEUE_CONNECTION: {{ .Values.laravel.queueConnection | quote }}
  CACHE_STORE: {{ .Values.laravel.cacheStore | quote }}
  REDIS_CLIENT: "phpredis"
  REDIS_HOST: {{ include "trakx.redis.host" . | quote }}
  REDIS_PORT: "6379"
  REVERB_APP_ID: {{ .Values.reverb.appId | quote }}
  REVERB_HOST: {{ .Values.reverb.host | quote }}
  REVERB_PORT: {{ .Values.reverb.port | quote }}
  REVERB_SCHEME: {{ .Values.reverb.scheme | quote }}
  MAIL_MAILER: "log"
