apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

namespace: trakx

resources:
  - namespace.yaml
  - configmap.yaml
  - secrets.yaml
  - postgres.yaml
  - redis.yaml
  - app.yaml
  - ingress.yaml
